.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: black;
  padding: 15px 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
  margin: 0;
  font-size: 1.8rem;
}

.cart-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-container svg {
  font-size: 32px; /* Increase icon size for better visibility */
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
  min-width: 18px;
  min-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}